/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Courier', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    text-align: center;
    overflow-x: hidden;
}

h1 {
    font-size: 3rem;
    color: #1f3a93; /* Dark Egyptian Blue */
    margin-top: 20px;
    font-family: 'Papyrus', sans-serif; /* Hieroglyph-like font */
    letter-spacing: 0.1em;
}

h2 {
    font-size: 1.75rem;
    color: #8b0000; /* Aztec Dark Red */
    margin-top: 20px;
}

h3 {
    font-size: 1.5rem;
    color: #1f3a93; /* Dark Egyptian Blue */
}

label {
    font-size: 1.2rem;
    color: #34495e;
    margin-right: 10px;
    font-weight: bold;
}

input[type="text"] {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 2px solid #d4af37; /* Gold border */
    width: 250px;
    margin-bottom: 20px;
}

input[type="submit"], button {
    background-color: #8b0000; /* Aztec Dark Red */
    color: white;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px; /* Added margin to separate the buttons */
}

input[type="submit"]:hover, button:hover {
    background-color: #d4af37; /* Gold */
}

#phiSlider,
#particleCount,
#particleSize,
#particleSpeed,
#rotationSpeed {
    width: 300px;
    margin: 10px auto;
}

#phiValue {
    font-size: 1.2rem;
    color: #d4af37; /* Gold */
}

#translatedText {
    font-size: 1.8rem;
    font-weight: bold;
    color: #1f3a93; /* Egyptian Blue */
    margin-top: 20px;
    font-family: 'Courier', sans-serif;
}

#visual-container {
    position: relative;
    width: 100%;
    height: 400px;
}

/* Particle container (set to absolute for overlay) */
#particle-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Allow user interaction with graph behind particles */
}

/* 3D Graph container */
#3d-graph {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
}

canvas {
    display: block;
    margin: auto;
}
